/* FUENTES */
    @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Goldman:wght@400;700&display=swap');


/* NORMALIZAR NAVEGADOR */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-image: url("../bosquejos/ImagenesSW-propias/Home/Fondo-estrellas.webp");
        background-size: 100%;
        background-position: center;
        background-repeat: repeat-y;
    }

    a {
        text-decoration: none;
    }


/* HEADER */
    .nav-link {
        font-family: "Bungee", sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        color: #fbb80a;
    }

    .nav-link:hover {
        color: #fbb80a;
    }


/* HOME */

    /* PRESENTACIÓN */
    #presentacion p {
        font-family: "Goldman", sans-serif;
        font-size: 18px;
        font-style: italic;
        color: #fbb80a;
    }

    #yoda-home {
        padding-top: 100px;
        width: 350px;
        margin-bottom: -150px;
        z-index: -1;
    }


    /* SECCIONES */
    .secciones-home {
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 250px;
    }

    .secciones-home h2 {
        font-family: "Bungee", sans-serif;
        font-size: 28px;
        text-transform: uppercase;
        color: #ffffff;
    }

    .secciones-home .btn {
        background-color: #fbb80a;
        font-family: "Bungee", sans-serif;
        font-size: 18px;
        text-transform: capitalize;
        color: #000000;
    }

    #peliculas-home {
        background-image: url("../bosquejos/ImagenesSW-propias/Home/peliculas-home.jpeg");
        z-index: 1;
    }

    #personajes-home {
        background-image: url("../bosquejos/ImagenesSW-propias/Home/personajes-home.jpg");
    }

    #naves-home {
        background-image: url("../bosquejos/ImagenesSW-propias/Home/naves-home.jpg");
    }


    /* GEORGE LUCAS/JOHN WILLIAMS */
    #george-lucas img, #john-williams img {
        width: 400px;
        border: solid 10px #ffffff;
        border-radius: 3px;
    }

    #george-lucas h3, #john-williams h3 {
        margin: 30px 0;
        font-family: "Bungee", sans-serif;
        font-size: 20px;
        color: #fbb80a;
    }

    #george-lucas p, #john-williams p {
        margin-bottom: 20px;
        font-family: "Goldman", sans-serif;
        font-size: 18px;
        color: #ffffff;
    }


    /* TRAILERS */
    #trailers iframe {
        width: 400px;
        height: 250px;
        margin: 0 10px;
        padding: 0;
    }


/* PELÍCULAS */
    #peliculas h1 {
        font-family: "Bungee", sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        color: #fbb80a;
        margin: 10px;
    }

    #peliculas nav {
        margin: 10px 10px 40px;
    }

    #peliculas nav ol {
        margin: 0;
    }
    
    #peliculas .breadcrumb-item {
        font-family: "Goldman", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fbb80a;
    }
    
    #peliculas .active {
        text-transform: capitalize;
    }

    .secciones-peliculas {
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin: 40px 0;
        border: solid 5px #ffffff;
        border-radius: 3px;
    }

    #trilogia1 {
        background-image: url("../bosquejos/ImagenesSW-propias/Home/1er-trilogia.jpg");
    }

    #trilogia2 {
        background-image: url("../bosquejos/ImagenesSW-propias/Home/2da-trilogia.jpeg");
    }

    #trilogia3 {
        background-image: url("../bosquejos/ImagenesSW-propias/Home/3ra-trilogia.jpeg");
    }

    #trilogia4 {
        background-image: url("../bosquejos/ImagenesSW-propias/Home/4ta-peliculas.jpeg");
    }

    #peliculas h5 {
        font-family: "Goldman", sans-serif;
        font-size: 20px;
        text-align: center;
        color: #ffffff;
    }

    #peliculas .btn {
        background-color: #fbb80a;
        font-family: "Bungee", sans-serif;
        font-size: 18px;
        color: #000000;
    }


    /* PELICULA-IND */
    #pelicula-ind nav {
        margin: 10px 10px 40px;
    }

    #pelicula-ind nav ol {
        margin: 0;
    }
    
    #pelicula-ind .breadcrumb-item {
        font-family: "Goldman", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fbb80a;
    }
    
    #pelicula-ind .active {
        text-transform: capitalize;
    }

    #pelicula-ind img {
        width: 300px;
        border: solid 5px #ffffff;
        border-radius: 3px;
    }

    #pelicula-ind h2 {
        margin-bottom: 40px;
        font-family: "Bungee", sans-serif;
        font-size: 20px;
        color: #fbb80a;
    }
    
    #pelicula-ind p {
        font-family: "Goldman", sans-serif;
        font-size: 20px;
        color: #fbb80a;
    }

    #pelicula-ind span {
        font-family: "Goldman", sans-serif;
        font-size: 20px;
        margin: 0 16px;
        color: #ffffff;
    }

    #pelicula-ind hr {
        margin: 60px 0;
        color: #ffffff;
        border-width: 3px;
        opacity: 1;
    }


    /* PERSONAJES */
    #personajes h1 {
        font-family: "Bungee", sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        color: #fbb80a;
        margin: 10px;
    }

    #personajes nav {
        margin: 10px 10px 40px;
    }

    #personajes nav ol {
        margin: 0;
    }
    
    #personajes .breadcrumb-item {
        font-family: "Goldman", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fbb80a;
    }
    
    #personajes .active {
        text-transform: capitalize;
    }

    #personajes img {
        width: 200px;
        height: 280px;
        border: solid 5px #ffffff;
        border-radius: 3px;
        background-color: #ffffff;
    }

    #personajes h5 {
        font-family: "Goldman", sans-serif;
        font-size: 20px;
        color: #fbb80a;
    }

    #personajes .btn {
        background-color: #fbb80a;
        font-family: "Bungee", sans-serif;
        font-size: 18px;
        color: #000000;
    }


    /* PERSONAJE-IND */
    #personaje-ind nav {
        margin: 10px 10px 40px;
    }

    #personaje-ind nav ol {
        margin: 0;
    }
    
    #personaje-ind .breadcrumb-item {
        font-family: "Goldman", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fbb80a;
    }
    
    #personaje-ind .active {
        text-transform: capitalize;
    }

    #personaje-ind img {
        width: 350px;
        height: 500px;
    }

    #personaje-ind h2 {
        margin-bottom: 30px;
        font-family: "Bungee", sans-serif;
        font-size: 20px;
        color: #fbb80a;
    }
    
    #personaje-ind p {
        font-family: "Goldman", sans-serif;
        font-size: 20px;
        color: #fbb80a;
    }

    #personaje-ind span {
        font-family: "Goldman", sans-serif;
        font-size: 20px;
        margin: 0 16px;
        color: #ffffff;
    }

    #personaje-ind hr {
        margin: 40px 0;
        color: #ffffff;
        border-width: 3px;
        opacity: 1;
    }


    /* NAVES */
    #naves h1 {
        font-family: "Bungee", sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        color: #fbb80a;
        margin: 10px;
    }

    #naves nav {
        margin: 10px 10px 40px;
    }

    #naves nav ol {
        margin: 0;
    }
    
    #naves .breadcrumb-item {
        font-family: "Goldman", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fbb80a;
    }
    
    #naves .active {
        text-transform: capitalize;
    }

    #naves img {
        width: 320px;
        height: 220px;
        border: solid 5px #ffffff;
        border-radius: 3px;
    }

    #naves h5 {
        font-family: "Goldman", sans-serif;
        font-size: 20px;
        color: #fbb80a;
    }

    #naves .btn {
        background-color: #fbb80a;
        font-family: "Bungee", sans-serif;
        font-size: 18px;
        color: #ffffff;
    }


    /* NAVE-IND */
    #nave-ind nav {
        margin: 10px 10px 40px;
    }

    #nave-ind nav ol {
        margin: 0;
    }
    
    #nave-ind .breadcrumb-item {
        font-family: "Goldman", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fbb80a;
    }
    
    #nave-ind .active {
        text-transform: capitalize;
    }

    #nave-ind img {
        width: 580px;
        border: solid 5px #ffffff;
        border-radius: 3px;
    }

    #nave-ind h2 {
        margin-bottom: 30px;
        font-family: "Bungee", sans-serif;
        font-size: 20px;
        color: #fbb80a;
    }
    
    #nave-ind p {
        font-family: "Goldman", sans-serif;
        font-size: 20px;
        color: #fbb80a;
    }

    #nave-ind span {
        font-family: "Goldman", sans-serif;
        font-size: 20px;
        margin: 0 16px;
        color: #ffffff;
    }

    #nave-ind hr {
        margin: 40px 0;
        color: #ffffff;
        border-width: 3px;
        opacity: 1;
    }


    /* SABLES */
    #sables h1 {
        font-family: "Bungee", sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        color: #fbb80a;
        margin: 10px;
    }

    #sables nav {
        margin: 10px 10px 40px;
    }

    #sables nav ol {
        margin: 0;
    }
    
    #sables .breadcrumb-item {
        font-family: "Goldman", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fbb80a;
    }
    
    #sables .active {
        text-transform: capitalize;
    }

    #sables img {
        width: 220px;
        height: 140px;
        border: solid 5px #ffffff;
        border-radius: 3px;
    }

    #sables h5 {
        font-family: "Goldman", sans-serif;
        font-size: 20px;
        color: #fbb80a;
    }

    #sables .btn {
        background-color: #fbb80a;
        font-family: "Bungee", sans-serif;
        font-size: 18px;
        color: #ffffff;
    }


    /* SABLE-IND */
    #sable-ind nav {
        margin: 10px 10px 40px;
    }

    #sable-ind nav ol {
        margin: 0;
    }
    
    #sable-ind .breadcrumb-item {
        font-family: "Goldman", sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fbb80a;
    }
    
    #sable-ind .active {
        text-transform: capitalize;
    }

    #sable-ind img {
        width: 400px;
        border: solid 5px #ffffff;
        border-radius: 3px;
    }

    #sable-ind h2 {
        margin-bottom: 30px;
        font-family: "Bungee", sans-serif;
        font-size: 20px;
        color: #fbb80a;
    }
    
    #sable-ind p {
        font-family: "Goldman", sans-serif;
        font-size: 20px;
        color: #fbb80a;
    }

    #sable-ind span {
        font-family: "Goldman", sans-serif;
        font-size: 20px;
        margin: 0 16px;
        color: #ffffff;
    }

    #sable-ind hr {
        margin-top: -16px;
        margin-bottom: 60px;
        color: #ffffff;
        border-width: 3px;
        opacity: 1;
    }


/* FOOTER */
    footer {
        background-color: #1a1a1a;
    }

    #copy {
        font-family: "Goldman", sans-serif;
        font-size: 18px;
        color: #ffffff;
    }

    footer h5 {
        font-family: "Bungee", sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        color: #fbb80a;
    }