/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Goldman:wght@400;700&display=swap');

/* NORMALIZAR NAVEGADOR */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../bosquejos/ImagenesSW-propias/Home/Fondo-estrellas.webp");
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-y;
}

/* HEADER */
.nav-link {
    font-family: "Bungee", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fbb80a;
}

.nav-link:hover {
    color: #fbb80a;
}

/* MAIN */

    /* PRESENTACIÓN */
    #presentacion p {
        font-family: "Goldman", sans-serif;
        font-size: 18px;
        font-style: italic;
        color: #fbb80a;
    }

    #yoda-home {
        padding-top: 100px;
        width: 300px;
    }

    /* SECCIONES */
    .secciones-home {
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 250px;
    }

    .secciones-home h2 {
        font-family: "Bungee", sans-serif;
        font-size: 28px;
        text-transform: uppercase;
        color: #ffffff;
    }

    .secciones-home .btn {
        background-color: #fbb80a;
        font-family: "Bungee", sans-serif;
        font-size: 18px;
        text-transform: capitalize;
        color: #000000;
    }

    #peliculas-home {
        background-image: url("../bosquejos/ImagenesSW-propias/Home/peliculas-home.jpeg");
    }

    #personajes-home {
        background-image: url("../bosquejos/ImagenesSW-propias/Home/personajes-home.jpg");
    }

    #naves-home {
        background-image: url("../bosquejos/ImagenesSW-propias/Home/naves-home.jpg");
    }

    /* GEORGE LUCAS/JOHN WILLIAMS */
    #george-lucas img, #john-williams img {
        width: 400px;
        border: solid 10px #ffffff;
        border-radius: 3px;
    }

    #george-lucas h3, #john-williams h3 {
        margin: 30px 0;
        font-family: "Bungee", sans-serif;
        font-size: 20px;
        color: #fbb80a;
    }

    #george-lucas p, #john-williams p {
        margin-bottom: 20px;
        font-family: "Goldman", sans-serif;
        font-size: 18px;
        color: #ffffff;
    }

    /* TRAILERS */
    #trailers iframe {
        width: 500px;
        height: 300px;
        margin: 0;
    }

/* FOOTER */
footer {
    background-color: #1a1a1a;
}

#copy {
    font-family: "Goldman", sans-serif;
    font-size: 18px;
    color: #ffffff;
}

h5 {
    font-family: "Bungee", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fbb80a;
}